.form{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  top: 100px;
  border: 1px solid black;
  height: 300px;
  width: 450px;
  background-color: white;
  border-radius: 15px;
  border-color: white;
  margin-left: 35%;
}
body{
  background-color: whitesmoke;
}
.button{
  width: 200px;
  background-color: rgb(5, 184, 5);
  border: 1px solid rgb(5, 184, 5);
  height: 30px;
  color: white;
}
caption{
  font-weight: 1000000px;
  align-items: center;
  justify-content: center;
}
input{
  height: 25px;
  width: 200px;
  background-color: #f3f1f1;
  border: 1px solid #f3f1f1;
}
a:link{
  text-decoration: none;
  color: #b8a3a3;
}
